project:
  type: book
  output-dir: ../docs
  preview:
    port: 4200
    browser: true
    navigate: false
filters:
  - ./filters.py

lightbox: auto

jupyter: python3

execute:
  # https://quarto.org/docs/computations/python.html#kernel-daemon
  daemon: true 

  # https://quarto.org/docs/computations/caching.html#jupyter-cache
  cache: true

  # https://quarto.org/docs/publishing/github-pages.html#freezing-computations
  freeze: auto

number-depth: 1

dir: rtl

book:
  # SEO Metadata
  title: "المقدمة البايثونية للبرمجة باللغة العربية"
  subtitle: "تعلم البرمجة من الصفر عن طريق بايثون"
  description: "الأهداف: استيعاب ماهية البرمجة، ومعرفة إمكانياتها وحدودها. وإكساب مهارة التعبير الخوارزمي بلغة بايثون. وامتلاك القدرة على فتح مكتبات برمجية في بايثون سواء في الذكاء الاصطناعي أو تعلم الآلة أو بناء المواقع أو التصاميم ثلاثية الأبعاد."
  cover-image: cover.jpeg
  sharing: [twitter, facebook]
  twitter-card: true
  open-graph: true

  # 
  favicon: favicon.png
  author: "حسان القوز"
  date: "2025-6-15"
  search: true
  site-url: https://hassanalgoz.github.io/python/
  repo-url: https://github.com/hassanalgoz/python
  repo-actions: [issue]
  repo-subdir: book

  sidebar:
    collapse-level: 1

  chapters:
    - index.qmd
    - setup.qmd
    - chapters/00_rewrite/01_instructions.qmd
    - chapters/00_rewrite/02_control_flow.qmd
    - chapters/00_rewrite/03_functions.qmd
    - chapters/00_rewrite/04_sequences.qmd
    - chapters/00_rewrite/05_computer_and_world.qmd
    - chapters/00_rewrite/06_text_files.qmd
    - chapters/00_rewrite/07_regex.qmd
    - chapters/00_rewrite/08_objects.qmd
    - chapters/00_rewrite/09_time.qmd
    - chapters/00_rewrite/10_errors.qmd
    - part: مسائل موضوعية
      chapters:
        - chapters/02_numbers/problems.qmd
        - chapters/02_numbers/solutions.qmd
        - chapters/03_control_flow/problems.qmd
        - chapters/03_control_flow/solutions.qmd
        - chapters/05_sequences/problems.qmd
        - chapters/05_sequences/solutions.qmd
        - chapters/06_mapping/c_problems.qmd
    - part: مسائل مفتوحة
      chapters:
        - chapters/apps/random_problem.qmd
        - chapters/apps/sentiment_analysis_problem.qmd
        - chapters/apps/sentiment_analysis_solution.qmd
        - chapters/apps/ceasar_cipher_problem.qmd
  appendices:
    - chapters/02_numbers/a_numbers.qmd
    - chapters/02_numbers/apps.qmd
    - chapters/03_control_flow/control_flow.qmd
    - chapters/03_control_flow/apps.qmd
    - chapters/08_procedural/a1_functions.qmd
    - chapters/05_sequences/a_sequences.qmd
    - chapters/05_sequences/apps.qmd
    - chapters/06_mapping/a1_set.qmd
    - chapters/06_mapping/a2_dict.qmd
    - chapters/06_mapping/b_apps.qmd
    - chapters/07_strings/a1_strings.qmd
    - chapters/07_strings/a2_unicode.qmd
    - chapters/07_strings/regex.qmd
    - chapters/09_files_and_directories/a1_file_io.qmd
    - chapters/11_oop/a1_oop.qmd
    - appendix/appendix_collections.qmd

comments:
  utterances:
    repo: HassanAlgoz/python
    label: Comment
    issue-term: og:title

format:
  html:
    theme: [cosmo, custom.scss]
    mermaid:
      theme: neutral
    fontsize: 1.1em
    linestretch: 1.7
    grid:
      sidebar-width: 300px
      margin-width: 300px
    code-copy: true
    
lang: ar

language: _language_ar.yml