/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "cosmo (builtin theme)" }

// Options

$enable-rounded: false !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Noto Naskh Arabic", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight: 400 !default;

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Noto+Naskh+Arabic:wght@400;700&display=swap" !default;
@if $web-font-path {
    @import url($web-font-path);
}

/*-- scss:rules --*/

$mermaid-bg-color: $body-bg;
$mermaid-edge-color: $secondary;
$mermaid-node-fg-color: $body-color;
$mermaid-fg-color: $body-color;
$mermaid-fg-color--lighter: lighten($body-color, 10%);
$mermaid-fg-color--lightest: lighten($body-color, 20%);
$mermaid-font-family: $font-family-sans-serif;
$mermaid-label-bg-color: $body-bg;
$mermaid-label-fg-color: $primary;
$mermaid-node-bg-color: rgba($primary, 0.1);
$mermaid-node-fg-color: $primary;

// Code blocks

code, pre {
    direction: ltr; // Set text direction to LTR
    text-align: left; // Align text to the left
}

// Typography

body {
    -webkit-font-smoothing: antialiased;
    // direction: rtl; // Set text direction to RTL
    // text-align: right; // Align text to the right
    --bs-body-text-align: right;
    
    // Indicators
    .badge {
        &.bg-light {
            color: $dark;
        }
    }

    // RTL-specific styles

    .navbar {
        .navbar-nav {
            margin-right: 0;
            margin-left: auto;
        }
    }

    // .progress {
    //     .progress-bar {
    //         float: right; // Ensure progress bar starts from the right
    //     }
    // }
}

// Progress bars

.progress {
    .progress-bar {
        font-size: 8px;
        line-height: 8px;
    }
}


// quarto-scss-analysis-annotation { "origin": null }

ul.task-list li input[type="checkbox"] {
    margin: 0;
}

ol {
    list-style-type: arabic-indic;
}

.sidebar-item-text.sidebar-link.text-start {
    text-align: start !important;
}

.list-unstyled {
    padding-left: initial !important;
}